<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="Přihlašovací jméno" type="text" id="username" default=""/>
	<setting label="Přihlašovací heslo" type="text" id="password" option="true" default=""/>
	<setting label="ID zařízení" type="text" id="deviceid" default="" visible="false"/>
	<setting label="Jméno zařízení" type="text" id="devicename" default="tvbox"/>
	<setting label="Preferovaná kvalita videa" id="quality" type="enum" lvalues="Zeptat se|Nejlepší|Nejhorší|720p|480p|360p" default="1"/>
	<setting label="Povolit programy pro dospělé" id="enable_adult" type="bool" default="true" />
	<setting label="Ukázat EPG (spomalí načtení Live TV)" id="showliveepg" type="bool" default="true" />
	<setting label="Kolik hodin EPG ukládat do cache" id="epgcache" type="labelenum" values="6|12|24|48|72" default="24" />
	<setting label="Přehrávat i po konci pořadu (minut)" type="text" id="offset" default="0"/>
	<setting label="Historie vyhledávání" type="text" id="keep-searches" default="20"/>
	<category label="Speciální">
		<setting label="Povolit speciální sekci v hlavním menu" id="enable_extra" type="bool" default="false" />
		<setting label="Automaticky exportovat seznam stanic jako userbouquet" id="enable_userbouquet" type="bool" default="false" />
		<setting label="Generovat XML EPG pre epgimport plugin (pokud je nainstalovaný)" id="enable_xmlepg" type="bool" default="false" />
		<setting label="Adresář pro vygenerované XML EPG (aspoň 30MB volného místa)" id="xmlepg_dir" type="text" default="/media/hdd" />
		<setting label="Pro kolik dní dopředu generovať EPG" id="xmlepg_days" type="enum" lvalues="1|2|3|4|5|6|7" default="4"/>
		<setting label="Při exportu userbouquetu automaticky stáhnout picony" id="enable_picons" type="bool" default="false" />
		<setting label="Přehrávač použitý pro userbouquet" id="player_name" type="enum" lvalues="Předvolený|gstplayer|exteplayer3|DMM|DVB (OE>=2.5)" default="0"/>
	</category>
</settings>
