<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="Prihlasovacie meno" id="username" type="text" default="" />
	<setting label="Prihlasovacie heslo" id="password" type="text" default="" option="true" />
	<setting label="NOT USED - Meno" id="orangetvuser" type="text" default="" visible="false"/>
	<setting label="NOT USED - Heslo" id="orangetvpwd" type="text" default="" option="true" visible="false"/>
	<setting label="Ukázať EPG (spomalí načítanie živých programov)" id="showliveepg" type="bool" default="true" />
	<setting label="Koľko hodín EPG ukladať do cache" id="epgcache" type="labelenum" values="6|12|24|48|72" default="24" />
	<setting label="Maximálny dátový tok ponúkaného streamu" id="max_bitrate" type="keyenum" values="0;Bez obmedzenia|8;8 Mbit/s|6;6 Mbit/s|4;4 Mbit/s|3;3 Mbit/s|2;2 Mbit/s" default="0" />
	<setting label="Povoliť programy pre dospelých" id="enable_adult" type="bool" default="true" />
	<setting label="Device Id (neodporúčam meniť, len pre pokročilých)" id="deviceid" type="text" default="Nexus7" visible="false"/>
	<category label="Špeciálne">
		<setting label="Povoliť špeciálnu sekciu hlavnej ponuke" id="enable_extra" type="bool" default="false" />
		<setting label="Automaticky exportovať zoznam staníc ako userbouquet" id="enable_userbouquet" type="bool" default="false" />
		<setting label="Generovať XML EPG pre epgimport plugin (ak je nainštalovaný)" id="enable_xmlepg" type="bool" default="false" />
		<setting label="Adresár pre vygenerované XML EPG (aspoň 20MB voľného miesta)" id="xmlepg_dir" type="text" default="/media/hdd" />
		<setting label="Pre koľko dní dopredu generovať EPG" id="xmlepg_days" type="enum" lvalues="1|2|3|4|5|6|7" default="4"/>
		<setting label="Pri exportovaní userbouquetu automaticky stiahnuť picony" id="enable_picons" type="bool" default="false" />
		<setting label="Prehrávač použitý pre userbouquet" id="player_name" type="enum" lvalues="Predvolený|gstplayer|exteplayer3|DMM|DVB (OE>=2.5)" default="0"/>
	</category>
</settings>
