<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="Login name" id="username" type="text" default="" />
	<setting label="Login password" id="password" type="text" default="" option="true" />
	<setting label="Show EPG (slows down loading of Live TV)" id="showliveepg" type="bool" default="true" />
	<setting label="How many hours cache EPG data" id="epgcache" type="labelenum" values="6|12|24|48|72" default="24" />
	<setting label="Maximum bandwidth of the offered stream" id="max_bitrate" type="keyenum" values="0;Unlimited|8;8 Mbit/s|6;6 Mbit/s|4;4 Mbit/s|3;3 Mbit/s|2;2 Mbit/s" default="0" />
	<setting label="Enable adult channels" id="enable_adult" type="bool" default="true" />
	<setting label="Device ID" id="deviceid" type="text" default="Nexus7" visible="false"/>
	<setting label="Enable special section in main menu" id="enable_extra" type="bool" default="false" />
	<setting label="Allow downloading of live broadcasting" id="download_live" type="bool" default="false" />
	<setting label="Allow multiple audio tracks for HLS" id="hls_multiaudio" type="bool" default="false" />
	<setting label="Check exteplayer3 version on startup" id="player-check" type="bool" default="true" />
	<category label="Userbouquet">
		<setting label="Automatically export channel list as userbouquet" id="enable_userbouquet" type="bool" default="false" />
		<setting label="Generate XML EPG for epgimport plugin (if installed)" id="enable_xmlepg" type="bool" default="false" />
		<setting label="Directory for XML EPG data (need at least 20MB of free space)" id="xmlepg_dir" type="text" default="/media/hdd" />
		<setting label="For how many days to generate XML EPG" id="xmlepg_days" type="enum" lvalues="1|2|3|4|5|6|7" default="4"/>
		<setting label="Automatically download picons when exporting userbouquet" id="enable_picons" type="bool" default="false" />
		<setting label="Player used for userbouquet" id="player_name" type="enum" lvalues="Default|gstplayer|exteplayer3|DMM|DVB (OE>=2.5)" default="0"/>
	</category>
</settings>
