<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="Login name" type="text" id="username" default=""/>
	<setting label="Login password" type="password" id="password" default=""/>
	<setting label="Select profile on startup" type="bool" id="select_profile" default="true" />
	<setting label="Prefered video codec" type="keyenum" id="video_codec" values="avc1;h264|hvc1;h265" default="hvc1" />
	<setting label="Enable and prefer multichannel audio" type="bool" id="enable_ac3" default="true" />
	<setting label="Sync watchlist" type="bool" id="sync_watchlist" default="true" />
	<setting label="Sync playback" type="bool" id="sync_playback" default="true" />
	<setting label="Enable relative seeking in movies" type="bool" id="relative_seek" default="true" />
	<setting label="Language of dubbed entries and menu" id="dubbed-lang" type="keyenum" values="auto;Auto|cs;CZ|sk;SK|cs+sk;CZ &amp; SK|sk+cs;SK &amp; CZ|en;EN" default="auto" />
	<setting label="Start subtitles automatically" id="subs-autostart" type="keyenum" values="always;Always|undubbed;When undubbed|never;Never" default="undubbed" />
	<setting label="Start forced subtitles automatically" id="forced-subs-autostart" type="bool" default="true" />
	<setting label="Allow DRM decrypt using exteplayer3 (enigma restart needed)" id="ext_drm_decrypt" type="bool" default="true" />
</settings>
