<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <setting label="Login name" id="username" type="text" default=""/>
  <setting label="Login password" id="password" type="password" default=""/>
  <setting label="Max watched items" id="max_watched" type="number" default="10"/>
  <setting label="Search category" id="search_category" type="text" default="video"/>
</settings>
