<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="30052">
		<setting label="30000" id="keep-searches" type="text" default="20" />
	</category>
	<category label="30015">
		<setting label="30002" id="webshare_enabled" type="bool" default="true" />
		<setting label="30000" id="webshare_keep-searches" type="text" default="20" />
		<setting label="30007" id="webshare_user" type="text" default="" />
		<setting label="30008" id="webshare_pass" type="text" default="" option="true" />
		<setting label="30051" id="webshare_ext-filter" type="text" default="exe,rar,srt,zip" />
	</category>
	<category label="30014">
		<setting label="30002" id="fastshare_enabled" type="bool" default="true" />
		<setting label="30000" id="fastshare_keep-searches" type="text" default="20" />
	</category>
</settings>
